@charset "utf-8";
/* CSS Document */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
}
#logo-grande, #movile-l, #tablet-p, #tablet-l, #laptop, #desktop{
    display: none;
}

@media only screen and (min-width: 576px){ /*movile-landscape*/
    #logo-chico, #movile-p{
        display: none;
    }
    #logo-grande, #movile-l{
        display: block;
    }
}

@media only screen and (min-width: 768px){ /*tablet-portrail*/
    #movile-l{
        display: none;
    }
    #tablet-p{
        display: block;
    }
}

@media only screen and (min-width: 992px){ /*tablet-landscape*/
    #tablet-p{
        display: none;
    }
    #tablet-l{
        display: block;
    }
}

@media only screen and (min-width: 1200px){ /*laptop*/
    #tablet-l{
        display: none;
    }
    #laptop{
        display: block;
    }
}

@media only screen and (min-width: 1440px){ /*tablet-landscape*/
    #laptop{
        display: none;
    }
    #desktop{
        display: block;
    }
}